In [1]:
import teradataml as tdml
import json
import pandas as pd
import seaborn as sns
import plotly.express as px
import tdnpathviz

In [3]:
%run -i ../startup.ipynb
eng = tdml.create_context(host = 'host.docker.internal', username='demo_user', password = password)

Performing setup ...
Setup complete

Enter password:  ··········

... Logon successful
Connected as: teradatasql://demo_user:xxxxx@host.docker.internal/dbc

/opt/conda/lib/python3.9/site-packages/teradataml/context/context.py:481: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

In [ ]:
qry = """
CREATE DATABASE teddy_retailers_ml
AS PERMANENT = 110e6;
"""
eng.execute(qry)

In [4]:
eng = tdml.create_context(host = 'host.docker.internal', username='demo_user', password = password, database = 'teddy_retailers_ml')

/opt/conda/lib/python3.9/site-packages/teradataml/context/context.py:481: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

In [5]:
qry='''
CREATE MULTISET TABLE teddy_retailers_ml.products AS
(
  SELECT product_id, product_name, department_id
    FROM (
		LOCATION='/gs/storage.googleapis.com/clearscape_analytics_demo_data/DEMO_groceryML/products.csv') as products
) WITH DATA;
'''
eng.execute(qry)

In [ ]:
qry='''
CREATE MULTISET TABLE teddy_retailers_ml.order_products AS
(
  SELECT order_id, product_id, add_cart_order
    FROM (
		LOCATION='/gs/storage.googleapis.com/clearscape_analytics_demo_data/DEMO_groceryML/order_products.csv') as orders_products
) WITH DATA;
'''
eng.execute(qry)

In [ ]:
orders = tdml.DataFrame("order_products")
orders

          product_id  add_cart_order
order_id
3487             130              15
3487             120              13
3487              43               3
3487              13              11
3487             190               5
3487             159               6
3487              42               2
3487              11              12
3487              22              16
3487              38               8

In [ ]:
counts_per_order = orders.groupby("order_id").agg({"product_id": "count"})
counts_per_order

In [ ]:
count_prod_hist = tdml.Histogram(data=counts_per_order,
                target_columns="count_product_id",
                method_type="Sturges")

In [ ]:
count_prod_hist_pd = count_prod_hist.result.sort("Label").to_pandas()
count_prod_hist_pd

In [ ]:
fig = px.bar(count_prod_hist_pd, x="MaxValue", y="Bin_Percent")
fig.show()

In [17]:
products = tdml.DataFrame('products')
products

                     product_name  department_id  seq_product_id
product_id
17                           Rice              2             119
179                 LightFixtures              4             281
34                     BakingSoda              1             136
156         FoodStorageContainers              4             258
196                       Gaskets              4             298
32                          Flour              1             134
13                          Jelly              1             115
139                 PainRelievers              6             241
141                      Vitamins              6             243
101                       Sponges              4             203

In [16]:
orders_products_merged = orders.join(
    other = products,
    on = "product_id",
    how = "inner",
    lsuffix = "ordrs", 
    rsuffix = "prdt")
orders_products_merged

          ordrs_product_id  prdt_product_id  add_cart_order      product_name  department_id
order_id
4425                    76               76               1           CatFood              1
3487                    22               22              16          Crackers              1
3487                   130              130              15         HairSpray              5
3018                   142              142               1  FirstAidSupplies              6
3018                   180              180               4            Brooms              4
469                    188              188               1         AllenKeys              4
3752                   161              161               9          FoilPans              4
3752                   125              125               3            Lotion              5
3018                    39               39               3           Vinegar              1
3487                    38               38               8        CookingOil              1

In [ ]:
product_counts = orders_products_merged.groupby('product_name').agg({"ordrs_product_id": "count"})
product_counts.sort("count_ordrs_product_id", ascending=False)

In [ ]:
test_data = orders_products_merged.head(16).sort('order_id')
test_data

In [ ]:
test_data_paths = tdml.NPath(
    data1=test_data,
    data1_partition_column="order_id",
    data1_order_column="add_cart_order",
    mode="OVERLAPPING",
    pattern="A.A.A.A.A",
    symbols="TRUE as A",
    result=[
        "LAST (order_id OF A) AS order_id",
        "ACCUMULATE (product_name OF A) AS path",
        "COUNT (* OF A) AS countrank"
        ]
    ).result
test_data_paths.to_pandas()

In [ ]:
common_seqs = tdml.NPath(
    data1=orders_products_merged,
    data1_partition_column="order_id",
    data1_order_column="add_cart_order",
    mode="OVERLAPPING",
    pattern="A.A",
    symbols="TRUE as A",
    result=[
        "FIRST (order_id OF A) AS order_id",
        "ACCUMULATE (product_name OF A) AS path",
        "COUNT (* OF A) AS countrank"
        ]
    ).result

In [ ]:
common_seqs.groupby('path').agg({"order_id": "count"}).sort('count_order_id',ascending=False)

In [ ]:
from tdnpathviz.visualizations import plot_first_main_paths

In [ ]:
plot_first_main_paths(common_seqs,path_column='path',id_column='order_id')

In [ ]:
products = tdml.DataFrame('products')
products.sort('seq_product_id')

In [ ]:
create_table_qry = '''
CREATE VOLATILE TABLE temp AS (
    SELECT product_id, 
    ROW_NUMBER() OVER (ORDER BY product_id) + 102 as seq_product_id
    FROM products
) WITH DATA PRIMARY INDEX (product_id) ON COMMIT PRESERVE ROWS;
'''
eng.execute(create_table_qry)

In [ ]:
add_column_qry = '''
ALTER TABLE products
ADD seq_product_id INTEGER;
'''
eng.execute(add_column_qry)

In [ ]:
modify_table_qry = '''
UPDATE products
SET seq_product_id = (
    SELECT temp.seq_product_id
    FROM temp
    WHERE products.product_id = temp.product_id
);
'''
eng.execute(modify_table_qry)

In [18]:
products = tdml.DataFrame('products')
products.sort('seq_product_id')

           product_name  department_id  seq_product_id
product_id
1                  Milk              1             103
2                 Bread              1             104
3                  Eggs              1             105
4                Butter              1             106
5                Cheese              1             107
6                Yogurt              1             108
7                Cereal              1             109
8               Oatmeal              1             110
9           GranolaBars              1             111
10           PancakeMix              1             112

In [ ]:
#Syntax to report to product team don't run.
#modify_table_qry_1 = '''
#UPDATE teddy_retailers_ml.products
#FROM temp 
#SET seq_product_id = temp.seq_product_id
#WHERE product_id = temp.product_id;
#'''

In [ ]:
orders_products_merged = orders.join(
    other = products,
    on = "product_id",
    how = "inner",
    lsuffix = "ordrs", 
    rsuffix = "prdt")
orders_products_merged

          ordrs_product_id  prdt_product_id  add_cart_order      product_name  department_id
order_id
4425                    76               76               1           CatFood              1
3487                    22               22              16          Crackers              1
3487                   130              130              15         HairSpray              5
469                    188              188               1         AllenKeys              4
3752                   125              125               3            Lotion              5
3018                   142              142               1  FirstAidSupplies              6
3018                    39               39               3           Vinegar              1
3018                   180              180               4            Brooms              4
3752                   161              161               9          FoilPans              4
3487                    38               38               8        CookingOil              1

In [ ]:
orders_products_merged = orders_products_merged.assign(
    bgn = 101
).select(["order_id", "add_cart_order", "seq_product_id", "bgn"])
orders_products_merged

In [ ]:
prepared_ds = tdml.NPath(
    data1=orders_products_merged,
    data1_partition_column="order_id",
    data1_order_column="add_cart_order",
    mode="NONOVERLAPPING",
    pattern="A*",
    symbols="TRUE as A",
    result=["FIRST (bgn OF A) AS c0",
            "NTH (seq_product_id, 1 OF A) as c1",
            "NTH (seq_product_id, 2 OF A) as c2",
            "NTH (seq_product_id, 3 OF A) as c3",
            "NTH (seq_product_id, 4 OF A) as c4",
            "NTH (seq_product_id, 5 OF A) as c5",
            "NTH (seq_product_id, 6 OF A) as c6",
            "NTH (seq_product_id, 7 OF A) as c7",
            "NTH (seq_product_id, 8 OF A) as c8",
            "NTH (seq_product_id, 9 OF A) as c9",
            "NTH (seq_product_id, 10 OF A) as c10",
            "NTH (seq_product_id, 11 OF A) as c11",
            "NTH (seq_product_id, 12 OF A) as c12",
            "NTH (seq_product_id, 13 OF A) as c13",
            "NTH (seq_product_id, 14 OF A) as c14",
            "NTH (seq_product_id, 15 OF A) as c15",
            "NTH (seq_product_id, 16 OF A) as c16",
            "NTH (seq_product_id, 17 OF A) as c17",
            "NTH (seq_product_id, 18 OF A) as c18",
            "NTH (seq_product_id, 19 OF A) as c19",
            "NTH (seq_product_id, 20 OF A) as c20",
            "NTH (seq_product_id, 21 OF A) as c21",
            "NTH (seq_product_id, 22 OF A) as c22",
            "NTH (seq_product_id, 23 OF A) as c23",
            "NTH (seq_product_id, 24 OF A) as c24",
            "NTH (seq_product_id, 25 OF A) as c25",
    ]
).result
prepared_ds

In [ ]:
prepared_ds.to_sql("prepared_ds", if_exists="replace")

In [ ]:
create_cleaned_ds_qry = '''
CREATE TABLE cleaned_ds AS (
  SELECT
    c0,
    c1,
    COALESCE(c2, CASE WHEN c1 IS NULL THEN 0 ELSE 102 END) AS c2,
    COALESCE(c3, CASE WHEN c2 IS NULL THEN 0 ELSE 102 END) AS c3,
    COALESCE(c4, CASE WHEN c3 IS NULL THEN 0 ELSE 102 END) AS c4,
    COALESCE(c5, CASE WHEN c4 IS NULL THEN 0 ELSE 102 END) AS c5,
    COALESCE(c6, CASE WHEN c5 IS NULL THEN 0 ELSE 102 END) AS c6,
    COALESCE(c7, CASE WHEN c6 IS NULL THEN 0 ELSE 102 END) AS c7,
    COALESCE(c8, CASE WHEN c7 IS NULL THEN 0 ELSE 102 END) AS c8,
    COALESCE(c9, CASE WHEN c8 IS NULL THEN 0 ELSE 102 END) AS c9,
    COALESCE(c10, CASE WHEN c9 IS NULL THEN 0 ELSE 102 END) AS c10,
    COALESCE(c11, CASE WHEN c10 IS NULL THEN 0 ELSE 102 END) AS c11,
    COALESCE(c12, CASE WHEN c11 IS NULL THEN 0 ELSE 102 END) AS c12,
    COALESCE(c13, CASE WHEN c12 IS NULL THEN 0 ELSE 102 END) AS c13,
    COALESCE(c14, CASE WHEN c13 IS NULL THEN 0 ELSE 102 END) AS c14,
    COALESCE(c15, CASE WHEN c14 IS NULL THEN 0 ELSE 102 END) AS c15,
    COALESCE(c16, CASE WHEN c15 IS NULL THEN 0 ELSE 102 END) AS c16,
    COALESCE(c17, CASE WHEN c16 IS NULL THEN 0 ELSE 102 END) AS c17,
    COALESCE(c18, CASE WHEN c17 IS NULL THEN 0 ELSE 102 END) AS c18,
    COALESCE(c19, CASE WHEN c18 IS NULL THEN 0 ELSE 102 END) AS c19,
    COALESCE(c20, CASE WHEN c19 IS NULL THEN 0 ELSE 102 END) AS c20,
    COALESCE(c21, CASE WHEN c20 IS NULL THEN 0 ELSE 102 END) AS c21,
    COALESCE(c22, CASE WHEN c21 IS NULL THEN 0 ELSE 102 END) AS c22,
    COALESCE(c23, CASE WHEN c22 IS NULL THEN 0 ELSE 102 END) AS c23,
    COALESCE(c24, CASE WHEN c23 IS NULL THEN 0 ELSE 102 END) AS c24,
    CASE WHEN c25 IS NULL THEN 0 ELSE 102 END AS c25
  FROM prepared_ds
) WITH DATA;
'''
eng.execute(create_cleaned_ds_qry)

In [ ]:
cleaned_ds_dtf = tdml.DataFrame('cleaned_ds')
cleaned_ds_dtf

In [ ]:
'''
conn.execute("""
SELECT NodeId, AmpId, Sequence, ObjectName, ObjectSize, RecordCount
FROM WRITE_NOS_FM (

    ON (
        select
            c0,
            c1,
            coalesce(c2, case when c1 is null then 0 else 102 end) c2,
            coalesce(c3, case when c2 is null then 0 else 102 end) c3,
            coalesce(c4, case when c3 is null then 0 else 102 end) c4,
            coalesce(c5, case when c4 is null then 0 else 102 end) c5,
            coalesce(c6, case when c5 is null then 0 else 102 end) c6,
            coalesce(c7, case when c6 is null then 0 else 102 end) c7,
            coalesce(c8, case when c7 is null then 0 else 102 end) c8,
            coalesce(c9, case when c8 is null then 0 else 102 end) c9,
            coalesce(c10, case when c9 is null then 0 else 102 end) c10,
            coalesce(c11, case when c10 is null then 0 else 102 end) c11,
            coalesce(c12, case when c11 is null then 0 else 102 end) c12,
            coalesce(c13, case when c12 is null then 0 else 102 end) c13,
            coalesce(c14, case when c13 is null then 0 else 102 end) c14,
            coalesce(c15, case when c14 is null then 0 else 102 end) c15,
            coalesce(c16, case when c15 is null then 0 else 102 end) c16,
            coalesce(c17, case when c16 is null then 0 else 102 end) c17,
            coalesce(c18, case when c17 is null then 0 else 102 end) c18,
            coalesce(c19, case when c18 is null then 0 else 102 end) c19,
            coalesce(c20, case when c19 is null then 0 else 102 end) c20,
            coalesce(c21, case when c20 is null then 0 else 102 end) c21,
            coalesce(c22, case when c21 is null then 0 else 102 end) c22,
            coalesce(c23, case when c22 is null then 0 else 102 end) c23,
            coalesce(c24, case when c23 is null then 0 else 102 end) c24,
            coalesce(c25, case when c24 is null then 0 else 102 end) c25,
            coalesce(c26, case when c25 is null then 0 else 102 end) c26,
            coalesce(c27, case when c26 is null then 0 else 102 end) c27,
            coalesce(c28, case when c27 is null then 0 else 102 end) c28,
            coalesce(c29, case when c28 is null then 0 else 102 end) c29,
            coalesce(c30, case when c29 is null then 0 else 102 end) c30,
            case when c30 is null then 0 else 102 end c31
        from prepared_ds
    )

    USING
    LOCATION('/AZ/asmirnovdemostorage.blob.core.windows.net/democont/bert_training_ds/')
    STOREDAS('PARQUET')
    COMPRESSION('GZIP')
    NAMING('RANGE')
    INCLUDE_ORDERING('TRUE')
    MAXOBJECTSIZE('4MB')
) AS d 
ORDER BY AmpId;
'''

In [ ]:
SELECT NodeId, AmpId, Sequence, ObjectName, ObjectSize, RecordCount
FROM WRITE_NOS_FM (
    ON (
        select * from cleaned_ds
    )

    USING
    LOCATION('/AZ/<azure_blob_storage_folder>/')
    STOREDAS('PARQUET')
    COMPRESSION('GZIP')
    NAMING('RANGE')
    INCLUDE_ORDERING('TRUE')
    MAXOBJECTSIZE('4MB')
) AS d 
ORDER BY AmpId;